<div>
  <form autocomplete="off" [formGroup]="stepGroup" (ngSubmit)="goToNextStep()">
    <div [ngClass]="{'has-error': activitySectorMessage}">
      <label>Activity Sector:</label>
      <select formControlName="activitySector">
        <option *ngFor="let sector of activitySectors" [value]="sector.id">{{sector.label}}</option>
      </select>
      <span *ngIf="activitySectorMessage">{{ activitySectorMessage }}</span>
    </div>

    <div [ngClass]="{'has-error': professionMessage}" *ngIf="displayProfession()">
      <label>Job :</label>
      <select formControlName="profession">
        <option *ngFor="let prof of professionsList" [value]="prof.id">{{prof.label}}</option>
      </select>
      <span *ngIf="professionMessage">{{ professionMessage }}</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="stepGroup.invalid">Save</button>
  </form>
</div>